nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.CalendarGrid h2 {
    font-size: 150%;
    color: rgb(112, 87, 11);
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#months{
    display: grid;
    gap: 30px;
    scale: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    list-style-type: none;
    font-size: 150%;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.monthsbox{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.847);
    border-radius: 8px;
    color: rgb(134, 130, 84);
    margin: 10px;
    padding: 80px 20px;
    cursor: pointer;
    border: 2px solid rgba(68, 53, 5, 0.26);
    box-shadow: 3px 3px 10px 3px rgba(72, 72, 72, 0.208);
}

/* added FE */
.active{
    background-color: rgb(175, 170, 109);
    color:rgb(252, 251, 250)
}